.add-employee-container {
  width: 366px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgb(7, 10, 92);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: auto;
  margin-right: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.add-employee-input,
.add-employee-select {
  width: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.add-employee-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #888;
  transition: 0.2s;
  pointer-events: none;
}

.add-employee-input:focus + .add-employee-label,
.add-employee-input:not(:placeholder-shown) + .add-employee-label,
.add-employee-select:focus + .add-employee-label,
.add-employee-select:not(:placeholder-shown) + .add-employee-label {
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: #ffffff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #f2f5f9;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
  background-color: #e0e0e0;
}
